In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/interim/ingested_data.csv")

In [3]:
df.shape

(1118899, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118899 entries, 0 to 1118898
Data columns (total 11 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Sl no.                     1118899 non-null  int64
 1   District Name              1118899 non-null  object
 2   Market Name                1118899 non-null  object
 3   Commodity                  1118899 non-null  object
 4   Variety                    1118899 non-null  object
 5   Grade                      1118899 non-null  object
 6   Min Price (Rs./Quintal)    1118899 non-null  float64
 7   Max Price (Rs./Quintal)    1118899 non-null  float64
 8   Modal Price (Rs./Quintal)  1118899 non-null  float64
 9   Price Date                 1118899 non-null  object
 10  State                      1118899 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 93.9+ MB

In [5]:
df.shape

(1118899, 11)

In [6]:
df.isna().sum()

Sl no.                       0
District Name                0
Market Name                  0
Commodity                    0
Variety                      0
Grade                        0
Min Price (Rs./Quintal)      0
Max Price (Rs./Quintal)      0
Modal Price (Rs./Quintal)    0
Price Date                   0
State                        0
dtype: int64

In [7]:
df.shape

(1118899, 11)

In [8]:
df.head()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date,State
0,1,Auraiya,Achalda,Wheat,Dara,FAQ,2350.0,2550.0,2450.0,05 Apr 2025,Uttar Pradesh
1,2,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2500.0,2470.0,14 Jun 2025,Uttar Pradesh
2,3,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2500.0,2470.0,23 Jun 2025,Uttar Pradesh
3,4,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2520.0,2470.0,26 Jun 2025,Uttar Pradesh
4,5,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2550.0,2500.0,03 Jun 2025,Uttar Pradesh

In [9]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace(r"[()/.]", "", regex=True)
)

In [10]:
df.head()

,sl_no,district_name,market_name,commodity,variety,grade,min_price_rsquintal,max_price_rsquintal,modal_price_rsquintal,price_date,state
0,1,Auraiya,Achalda,Wheat,Dara,FAQ,2350.0,2550.0,2450.0,05 Apr 2025,Uttar Pradesh
1,2,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2500.0,2470.0,14 Jun 2025,Uttar Pradesh
2,3,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2500.0,2470.0,23 Jun 2025,Uttar Pradesh
3,4,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2520.0,2470.0,26 Jun 2025,Uttar Pradesh
4,5,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2550.0,2500.0,03 Jun 2025,Uttar Pradesh

In [11]:
df[["min_price_rsquintal", "max_price_rsquintal", "modal_price_rsquintal"]].dtypes

min_price_rsquintal      float64
max_price_rsquintal      float64
modal_price_rsquintal    float64
dtype: object

In [12]:
df.shape

(1118899, 11)

In [13]:
df["price_date"] = pd.to_datetime(df["price_date"], errors="coerce")
df["price_date"].dtype

dtype('<M8[ns]')

In [14]:
df.head()

,sl_no,district_name,market_name,commodity,variety,grade,min_price_rsquintal,max_price_rsquintal,modal_price_rsquintal,price_date,state
0,1,Auraiya,Achalda,Wheat,Dara,FAQ,2350.0,2550.0,2450.0,2025-04-05,Uttar Pradesh
1,2,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2500.0,2470.0,2025-06-14,Uttar Pradesh
2,3,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2500.0,2470.0,2025-06-23,Uttar Pradesh
3,4,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2520.0,2470.0,2025-06-26,Uttar Pradesh
4,5,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2550.0,2500.0,2025-06-03,Uttar Pradesh

In [15]:
df["modal_price_rsquintal"].isna().sum()

np.int64(0)

In [16]:
df = df.dropna(subset=["modal_price_rsquintal"])
df["modal_price_rsquintal"].shape

(1118899,)

In [17]:
df.shape

(1118899, 11)

In [18]:
df = df.dropna(subset=["price_date"])
df["price_date"].shape

(1118899,)

In [19]:
df.shape

(1118899, 11)

In [20]:
df = df.rename(columns={
    "sl_no": "id",
    "district_name": "district",
    "market_name": "market",
    "min_price_rsquintal": "min_price",
    "max_price_rsquintal": "max_price",
    "modal_price_rsquintal": "modal_price",
    "price_date": "date"
})
df.head()

,id,district,market,commodity,variety,grade,min_price,max_price,modal_price,date,state
0,1,Auraiya,Achalda,Wheat,Dara,FAQ,2350.0,2550.0,2450.0,2025-04-05,Uttar Pradesh
1,2,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2500.0,2470.0,2025-06-14,Uttar Pradesh
2,3,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2500.0,2470.0,2025-06-23,Uttar Pradesh
3,4,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2520.0,2470.0,2025-06-26,Uttar Pradesh
4,5,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2550.0,2500.0,2025-06-03,Uttar Pradesh

In [21]:
df.sample(5)

,id,district,market,commodity,variety,grade,min_price,max_price,modal_price,date,state
539293,10184,Kottayam,Thalayolaparambu,Cauliflower,Cauliflower,FAQ,4000.0,4500.0,4200.0,2025-04-19,Kerala
572393,25049,Hamirpur,Muskara,Brinjal,Round,FAQ,1350.0,1450.0,1400.0,2025-05-20,Uttar Pradesh
1080976,7203,Dhar,Kukshi,Arhar (Tur/Red Gram)(Whole),Arhar Dal(Tur),FAQ,6640.0,6640.0,6640.0,2025-02-21,Madhya Pradesh
531704,2595,Thirssur,Chelakkara,Cauliflower,Other,FAQ,4000.0,4500.0,4200.0,2025-05-23,Kerala
75173,3869,Ghaziabad,Hapur,Maize,Yellow,FAQ,2500.0,2600.0,2540.0,2024-09-20,Uttar Pradesh

In [22]:
df[df["min_price"].isna() | df["max_price"].isna()]

Empty DataFrame
Columns: [id, district, market, commodity, variety, grade, min_price, max_price, modal_price, date, state]
Index: []

In [23]:
df[df["modal_price"].isna()]

Empty DataFrame
Columns: [id, district, market, commodity, variety, grade, min_price, max_price, modal_price, date, state]
Index: []

In [24]:
df.loc[
    df[["min_price", "max_price", "modal_price"]].isna().any(axis=1)
]

Empty DataFrame
Columns: [id, district, market, commodity, variety, grade, min_price, max_price, modal_price, date, state]
Index: []

In [25]:
df.shape

(1118899, 11)

In [26]:
df[
    (df["min_price"] <= 0) |
    (df["max_price"] <= 0) |
    (df["modal_price"] <= 0)].shape

(1269, 11)

In [27]:
df = df[
    (df["min_price"] > 0) &
    (df["max_price"] > 0) &
    (df["modal_price"] > 0)
]
df.shape

(1117630, 11)

In [28]:
df = df[df["min_price"] <= df["max_price"]]

In [29]:
df = df[
    (df["modal_price"] >= df["min_price"]) &
    (df["modal_price"] <= df["max_price"])
]

In [30]:
df.shape

(1117630, 11)

In [31]:
df = df.dropna(subset=["state", "district", "market", "commodity"])

In [32]:
df.shape

(1117630, 11)

In [33]:
df = df.drop_duplicates()
df.shape

(1117630, 11)

In [34]:
duplicate_rows = df[
    df.duplicated(
        subset=["market", "commodity", "date", "grade", "variety", "state", "district"],
        keep=False
    )
]

In [35]:
duplicate_rows

Empty DataFrame
Columns: [id, district, market, commodity, variety, grade, min_price, max_price, modal_price, date, state]
Index: []

ðŸŽ¯ One-line rule (MEMORIZE THIS)
    A mandi is defined by (state + district + market), not market name alone.

In [36]:
gourped_rows = duplicate_rows.groupby(
    ["market", "commodity", "date", "grade", "variety", "state", "district"]
).ngroups

In [37]:
df[
    (df["market"] == "Gorakhpur") &
    (df["commodity"] == "Maize") &
    (df["date"] == "2024-11-28")&
    (df["grade"] == "FAQ") &
    (df["state"] == "Uttar Pradesh") &
    (df["district"] == "Gorakhpur")
]

,id,district,market,commodity,variety,grade,min_price,max_price,modal_price,date,state
82511,11207,Gorakhpur,Gorakhpur,Maize,Yellow,FAQ,2430.0,2500.0,2460.0,2024-11-28,Uttar Pradesh

In [38]:
df.shape

(1117630, 11)

In [39]:
df.drop_duplicates(
    subset=["market", "commodity", "date", "grade", "variety", "state", "district"],
    keep="first"
)
df.shape

(1117630, 11)

In [40]:
df.groupby(["market", "commodity", "date", "grade", "variety", "state", "district"]).size().reset_index(name="count") \
  .query("count > 1") \
  .head(10)

Empty DataFrame
Columns: [market, commodity, date, grade, variety, state, district, count]
Index: []

In [43]:
df.head(5)

,id,district,market,commodity,variety,grade,min_price,max_price,modal_price,date,state
0,1,Auraiya,Achalda,Wheat,Dara,FAQ,2350.0,2550.0,2450.0,2025-04-05,Uttar Pradesh
1,2,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2500.0,2470.0,2025-06-14,Uttar Pradesh
2,3,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2500.0,2470.0,2025-06-23,Uttar Pradesh
3,4,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2520.0,2470.0,2025-06-26,Uttar Pradesh
4,5,Auraiya,Achalda,Wheat,Dara,FAQ,2400.0,2550.0,2500.0,2025-06-03,Uttar Pradesh

# With these steps cleaning of data is complete now

In [44]:
df.to_csv("../data/processed/cleaned_data.csv", index=False)